.active {
  color: #13357bff;
  font-weight: 700;
  font-size: 1rem;
}

.notActive {
  font-size: 1rem;
}

.notActive:hover {
  color: #13357bff;
}

.navActiveServices::after {
  content: "";
  height: 0.25rem;
  border-radius: 1rem;
  transform: translate(1.25rem, 1rem) !important;
  background-color: #13357bff;
  max-width: 6rem;
  filter: drop-shadow(0 -0.3rem 0.4rem #13357bff);
}

.logo {
  justify-content: center !important;
}
