.active {
  color: whitesmoke;
  font-weight: 700;
  font-size: 1rem;
  align-self: center;
  z-index: 20;
  height: 5rem;
  display: flex;
  justify-content: center;
  background-color: #13357bff;
}

.notActive {
  font-size: 1rem;
  z-index: 20;
  height: 5rem;
  display: flex;
  align-items: center;
}

.navListbg {
  position: relative;
  transition: 0.4s;
  cursor: pointer;
}

.navListbg:hover {
  color: whitesmoke;
  transition: 0.4s;
}

.navListbg::before {
  content: "";
  height: 0rem;
  width: 100%;
  background: #13357bff;
  position: absolute;
  transition: 0.4s;
  bottom: 0;
}

.navListbg:hover::before {
  height: 5rem;
  transition: 0.4s;
}

.navActiveServices::after {
  content: "";
  height: 0.25rem;
  border-radius: 1rem;
  transform: translate(1.25rem, 1rem) !important;
  background-color: #13357bff;
  max-width: 6rem;
  filter: drop-shadow(0 -0.3rem 0.4rem #13357bff);
}

.logo {
  justify-content: center !important;
}
